*{
    margin: 0%;
    padding:0%
}
body{
    height: 100%;
    width: 100%;
}

.float-container {
}
.tab-bar{
    display: flex;
    padding-left: 55%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6w_w3wa_h-KIIi1V1vRYIlHwL4Vvaw-evSw&usqp=CAU) center/cover no-repeat fixed;
}
.float-child {
    width: 50%;
    float: left;
    padding: 60px;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4msFTH7QpT2NVnUo9RFsbWQyXwDjhubiSfA&usqp=CAU) center/cover no-repeat fixed;
}  
.f-nav{
    display: flex;
    justify-content:center;
    justify-content:space-around;
    background-color:rgb(250, 233, 239);
    border-top: 1px solid purple;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.nav-item{
    display: flex;


}
.feature .app{
    display:flex;
    margin-inline:22px;
}
.feature .app i{
    margin-inline: 18px;
}
.sec nav{
    display : flex;
    justify-content:center;
    justify-content: space-around;
     padding :14px;
}
.sec-nav ul li img{
    width: 8%;
    margin-left:22px;
}
.sec-nav ul li a{
    margin-inline:22px;
    font-weight:bold;
     cursor: pointer;

}
.sec-nav .inputs{
    display:flex;
    width: fit-content;
    padding: 10px;
}
.sec-nav .inputs button{
    margin-inline:22px;
    cursor:pointer;
}
.sec-nav .inputs input{
    width:fit-content;
    background-color:rgb(225,217,217);
    border: none;
    outline:none;
    text-align:center;
    font-size:16px;
    border-radius:5%;
}
.sec-nav .inputs button{
    width:80px;
    height: 35px;
    background-color: rgb(251,106,130);
    color : white;
    font-size: 17px;
    border:none;
    border-radius:5px;

} 
.sec-nav .inputs button:hover{
    background-color:rgb(250, 151, 167) ;
}

.nykaa-bar ul li a:hover{
    color:rgb(251,106,130);
    text-transform: capitalize;  
}

.items{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    padding: 8px;
}

.items ul li a{
    margin-inline: 22px;
    text-align : center;
    cursor:pointer;
}
.items ul li button{
    width:75px;
    height:34px;
    background-color: rgb(251,106,130);
    color : white;
    font-size: 17px;
    border:none;
    border-radius:5px;
    cursor:pointer;
=======
    padding-left: 50px;
}
.d-block{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(113, 0, 251, 0.25) 0px 50px 100px -20px, rgba(98, 0, 255, 0.3) 0px 30px 60px -30px, rgba(102, 6, 235, 0.35) 0px -2px 6px 0px inset;
}
.d-block:hover{
    transform: scale(1.05);
    transition: 1.5s;
    border-radius: 20px;
    border: 3px solid palevioletred;
}
.float-container2 {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child2 {
    width: 50%;
    float: left;
    padding: 30px;
    height: 300px;
}  
#flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 10px 20px;
}

.flex-item {
    height: 200px;
    border: 2px solid palevioletred;
    border-radius: 20px;
}
#flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4msFTH7QpT2NVnUo9RFsbWQyXwDjhubiSfA&usqp=CAU) center/cover no-repeat fixed;
}

.flex-item2 {
    height: 200px;
    border: 2px solid palevioletred;
    border-radius: 20px;
}
.float-containerr {
    border: 3px solid #fff;
    padding:10px 40px 10px 40px;
    margin-bottom: 60px;
}

.float-childd {
    width: 50%;
    float: left;
    padding:10px 40px;
}  
.d-block1{
    margin: 20px;
    display: flex;
    float: left;
    height: 200px;
    width: 300px;
    border-radius: 20px;
    box-shadow: rgba(113, 0, 251, 0.25) 0px 50px 100px -20px, rgba(98, 0, 255, 0.3) 0px 30px 60px -30px, rgba(102, 6, 235, 0.35) 0px -2px 6px 0px inset;
}

}
.items ul li a:hover{
        text-decoration: underline;
    color:rgb(251,106,130) ;
}
.main-img img{
    width:100%; 
    height:auto;
}
.pink img{
    width:100%;
    height:auto;
}
.pink h2{
    text-align: center;
    padding : 7px;
}
.brand h2{
    text-align:center;

.feature{
    display: flex;


}
.items{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    padding: 8px;
}
.onlynykaa{
    display:flex;
    justify-content: center;
    justify-content:space-around;
}

.only img{
    margin-inline:22px;
    width:44%;
}
.newatnykaa{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    padding:22px;
}
.newatnykaa img{
    width:22%;
    margin-inline:18px;
}
.footer{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    background-color: grey;
}
.footer list{
    flex-direction:column;
}
.footer list ul li{
    list-style: none;
    
}
.footer list ul li a{
    font-weight:600;
    font-size: 13px;
}
.footer list li ul h2{
    font-size: 13px;
}
 














